<div class="mt-4">
    <button (click)="activeTab=0" [ngClass]="activeTab == 0 ? 'activeTab' : ''" class="btn tab-primary"
        routerLink="/search/beer">Beers</button>
    <button (click)="activeTab=1" [ngClass]="activeTab == 1 ? 'activeTab' : ''" class="btn tab-primary"
        routerLink="/search">Breweries</button>
    <button (click)="activeTab=2" [ngClass]="activeTab == 2 ? 'activeTab' : ''" class="btn tab-primary"
        routerLink="/search">People</button>
</div>

<router-outlet></router-outlet>
